
body{
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
background-position:center center;
}
.site-loading{
background-color:;
}
.sk-spinner-pulse,.sk-rotating-plane,.sk-double-bounce .sk-child,.sk-wave .sk-rect,.sk-chasing-dots .sk-child,.sk-three-bounce .sk-child,.sk-circle .sk-child:before,.sk-fading-circle .sk-circle:before,.sk-folding-cube .sk-cube:before{
background-color:#9261aa;
}
body{
font-family:Roboto;
line-height:24px;
font-weight:400;
font-style:normal;
font-size:13px;
}
h1{
font-family:Oswald;
line-height:48px;
font-weight:700;
font-style:normal;
font-size:36px;
}
h2{
font-family:Oswald;
line-height:39px;
font-weight:700;
font-style:normal;
font-size:29px;
}
h3{
font-family:Oswald;
line-height:29px;
font-weight:400;
font-style:normal;
font-size:22px;
}
h4{
font-family:Oswald;
line-height:23px;
font-weight:400;
font-style:normal;
font-size:17px;
}
h5{
font-family:Oswald;
line-height:17px;
font-weight:400;
font-style:normal;
font-size:13px;
}
h6{
font-family:Oswald;
line-height:15px;
font-weight:400;
font-style:normal;
font-size:11px;
}
{font-family:Oswald;}{font-family:Roboto;}{font-family:Oswald;}

